html, body {
    position: relative;
    overflow-x: hidden;
    font:100% arial,helvetica,clean,sans-serif;
    background-color: #f4511e;
    height:100%;
    width:100%;
}
body,
/*html { height: 100%;}*/
.nav .open > a, 
.nav .open > a:hover, 
.nav .open > a:focus {background-color: transparent;}

/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 18.5em;
}

#sidebar-wrapper {
    z-index: 1000;
    left: 18.5em;
    width: 0;
    height: 100%;
    margin-left: -18.5em;
    overflow-y: auto;
    overflow-x: hidden;
    background: #1a1a1a;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper::-webkit-scrollbar {
  display: none;
}

#wrapper.toggled #sidebar-wrapper {
    width: 18.5em;
}

#page-content-wrapper {
    width: 100%;
    padding-top: 6.5em;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -18.5em;
}

/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 13em;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    position: relative; 
    line-height: 3em;
    display: inline-block;
    width: 100%;
}

.sidebar-nav li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 0.2em;
    background-color: #1c1c1c;
    -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width .2s ease-in;

}
.sidebar-nav li:first-child a {
    color: #fff;
    background-color: #1a1a1a;
}
.sidebar-nav li:nth-child(2):before {
    background-color: #ec1b5a;   
}
.sidebar-nav li:nth-child(3):before {
    background-color: #79aefe;   
}
.sidebar-nav li:nth-child(4):before {
    background-color: #314190;   
}
.sidebar-nav li:nth-child(5):before {
    background-color: #279636;   
}
.sidebar-nav li:nth-child(6):before {
    background-color: #7d5d81;   
}
.sidebar-nav li:nth-child(7):before {
    background-color: #ead24c;   
}
.sidebar-nav li:nth-child(8):before {
    background-color: #2d2366;   
}
.sidebar-nav li:nth-child(9):before {
    background-color: #35acdf;   
}
.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
    width: 100%;
    -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width .2s ease-in;

}

.sidebar-nav li a {
    display: block;
    color: #ddd;
    text-decoration: none;
    /*width: 18.5em;*/
    /*font-size: 16px;*/
    padding: 0.8em 1em 0.8em 2.5em;    
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus{
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}

.sidebar-nav > .sidebar-brand {
    height: 2em;
    width: 100%;
    margin-bottom: 1em;
    /*display: inline-block;*/
    font-size: 2.2em;
    line-height: 1.2em;
}
.sidebar-nav .dropdown-menu {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    background-color: #222;
    box-shadow: none;
}

#logOutButton {
    background-color: transparent;
    width:100%;
}

/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/

.hamburger {
  position: fixed;
  top: 20px;  
  z-index: 999;
  display: block;
  width: 32px;
  height: 32px;
  margin-left: 15px;
  background: transparent;
  border: none;
}
.hamburger:hover,
.hamburger:focus,
.hamburger:active {
  outline: none;
}
.hamburger.is-closed:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  position: absolute;
  left: 0;
  height: 4px;
  width: 100%;
}
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom {
  background-color: #1a1a1a;
}
.hamburger.is-closed .hamb-top { 
  top: 5px; 
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed .hamb-middle {
  top: 50%;
  margin-top: -2px;
}
.hamburger.is-closed .hamb-bottom {
  bottom: 5px;  
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-top {
  top: 0;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover .hamb-bottom {
  bottom: 0;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  background-color: #1a1a1a;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
  top: 50%;
  margin-top: -2px;  
}
.hamburger.is-open .hamb-top { 
  -webkit-transform: rotate(45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open .hamb-middle { display: none; }
.hamburger.is-open .hamb-bottom {
  -webkit-transform: rotate(-45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all .35s ease-in-out;
}

/*-------------------------------*/
/*            Overlay            */
/*-------------------------------*/

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
}


/*---CSS FOR SELVE SIDENE---*/

.jumbotron {
      position: absolute;
      top: 0;
      background: #000 url("graphics/Logo-white.png") center center no-repeat;
      width: 100%;
      height: 28%;
      background-size:53%;
      overflow: hidden;
      background-color: #f4511e;
      color: #fff
    }

#map {
      position: absolute;
      height:72.3%;
      width:100%;
      bottom:0;
      /*left:0;*/

      /*padding:0px;
      margin:0px;*/
      border: 2px solid white;
   }

/*   #myLoc {
    position: absolute; 
    top: 0.5em; 
    right: 0.5em;
   }*/
/*.container {
    text-align: right;
    top:0.5em;
}*/
.upper-right {
  position: absolute;
  right: 0;
  top: 0.5em;
}
.myLoc {
  position: relative;
  width:25%;
  left:75%;
}

   /*-----------------Main Menu----------------------*/

 .carousel {
  position: relative;
  height: 100%;
 }

 .carousel-inner {
  position: relative;
  top:5%;
 }

 .carousel-control.right {
      background-image: none;
      color: #f4511e;
      right: 0%;
 } 


 .carousel-control.left {
      background-image: none;
      color: #f4511e;
      left: 0%;
  }
  .carousel-indicators li {
      /*position: relative;*/
      border-color: #f4511e;
      /*top: 50%;*/
      z-index: 0.5;

  }
  .carousel-indicators li.active {
      /*position: relative;*/
      background-color: #f4511e;
      /*top: 50%;*/
      z-index: 0.5;
  }

  .container-fluid {
      position: absolute;
      top: 28.1%;
      width: 100%;
      height: 50%;
      /*padding: 60px 50px;*/
      padding-left: 7%;
      padding-right: 7%;
      background-color: #f6f6f6;
      /*background-color: #505050;*/
      z-index: 0.5;
  }

  .table {
    background-color: white;
    /*border-collapse: collapse;*/
    width: 100%;
    /*border: 1px solid #000;*/
  }

  .table th {
    padding: 0.7em;
    background-color: #f4511e;
    color: black;
    text-align: left;
    border: 1px solid #000;
  }
  .table td {
    padding: 0.5em;
    text-align: left;
    border: 1px solid #000; 
  }

  .table tr:nth-child(even){background-color: #f2f2f2}
  .table tr:hover {background-color: #ddd;}

  .center {
    width:70%;
    margin-left: 15%;
    margin-right: 15%;
  }

  .item h4 {
      font-size: 1.5em;
      line-height: 1.375em;
      font-weight: 400;
      font-style: italic;
      /*margin: 70px 0;*/
  }
  .item span {
      font-style: normal;
  }

/*-------------------------------------------------------------*/

/*--------------------MODAL CSS--------------------------------*/
   .vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
  }

  .modal-content {
    width:inherit;
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
    pointer-events:all;
} 

.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
    pointer-events:none;
}
/*-------------------------------------------------------------*/

/*#drawPoly:active {
  position: absolute;
  border: 1px solid black;
  right: 1em;
  top: 1em;
}*/
/*#viewPoly {
  position: absolute;
  border: 1px solid black;
  right: 12px;
  top: 12px;
}*/

/*.polyIcon {
  position: relative;
  padding-left: 5px;
}*/

 /*---SLUTT CSS SELVE SIDEN---*/  